.heading {
    font-size: 30px;
    padding: 16px 0;
    color: #444;
    text-align: center;
}
/*Container*/
.container {
    margin: 36px auto;
    width: auto;
}
.search-label {
    position: relative;
}
.container input {
    width: 100%;
    padding: 16px;
    font-size: 36px;
    font-style: italic;
    color: #444;
    box-sizing: border-box;
    outline: none;
}
.search-icon {
    position: absolute;
    top: -10px;
    font-size: 24px;
    color: #555;
    right: 18px;
}
/* Results */
.search-results {
    width: auto;
   flex-flow: wrap;
    display: grid;
}
.search-result {
    font-size: 16px;

}
.image-username {
    color: coral;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
}
.image {
    width: 100%;
    height: 200px;
}
.image-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
}
/*Loader*/
.search-loading {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/*Show and hide*/
.show {
    display: inline-block;
}
.hide {
    display: none;
}